.Header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 15vw;
}

.Header>img{
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: contain;
    z-index: -1;
}

.TextArea{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #02363D;
}

.TextArea>h1{
    font-size: 2vw;
    font-weight: 900;
}

.TextArea>p{
    font-size: 1vw;
    font-weight: 650;
}

.Webinar{
    font-size: 1vw;
    padding: 1vw;
    color: #FFFFFF;
    background-color: #C05100;
    border-radius: 5%;
    margin-top: 5%;
}